html{
    transition: trasform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    animation: from-bottom-to-top 2s;
}

body{
    font-family:  'Roboto', sans-serif;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
} 

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

main{
    margin: 0;
    padding: 0;
}


/* ⁡⁢⁣⁢𝗛𝗲𝗮𝗱𝗲𝗿⁡ */

header{
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center; 
}

.nav{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav__logo{
    margin-right: 75px;
}

.nav__web{
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.nav__studio{
    color: black;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.nav__list{
    display: flex;
    margin-right: 42px;
    justify-content: center;
}


.nav__item{
    margin: 0;
    padding: 0;
    margin-right: 42px;
}

.nav__item:last-child{
    margin-right: 0;
}

.nav__link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: 250ms ease;
    position: relative;
}

.nav__link:hover{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__item-portfolio-link::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;   
}


/* ⁡⁢⁣⁢𝗛𝗲𝗮𝗱𝗲𝗿⁡ contact icon */


.header__group{
    margin-left: auto;
}

.header__email, .header__tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    transition: 250ms ease;
}

.header__email:hover, .header__tel:hover{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email:focus, .tel:focus{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email{
    margin-right: 50px;
}

.header__icon{
    margin-right: 10px;
    fill: currentColor;

}

/* ⁡⁢⁣⁢𝗕𝘂𝘁𝘁𝗼𝗻𝘀⁡ */

.buttons__list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button__item{
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;  
    margin-right: 8px;

    border-color: transparent;
    transition: 250ms ease;
} 

.button__item:hover, .button__item:focus{
    background:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

/* ⁡⁢⁣⁢⁡⁢⁣⁢𝗣𝗵𝗼𝘁𝗼𝘀 ⁡ */

.photo__list{
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.photo__item{
    /* position: relative; */
    margin-right: 30px;
    margin-bottom: 30px;
}

.third{
    margin: 0;
}

.last-photo{
    margin-top: 0;
}

.photo__discr{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.photo__item:nth-child(7){
    margin-bottom: 0;
}

.photo__item:nth-child(8){
    margin-bottom: 0;
}

.photo__item:nth-child(9){
    margin-bottom: 0;
}

.photo__item:hover ,.photo:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
    color: #212121;
    
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
 
    letter-spacing: 0.03em;
    color: #757575;
}

/* ⁡⁢⁣⁢Анімація⁡ */


.overlay:hover .overlay__text{
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes from-top-to-bottom{
    from{
        transform: translateX(0);
        opacity: 1;
    }

    to{
        transform: translateY(100%);
         /* opacity: 0;  */
    }
} 

@keyframes from-bottom-to-top{
    from{
        transform: translateY(250px);
        /* opacity: 0;  */
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}


.overlay__item{
    position: relative;
    overflow: hidden;
    /* display: inline-block; */
}

.overlay__photo{
    position:static;
    display: block;
    max-width: 100%;
    height: auto;
}

.overlay__text{
    position: absolute;
    bottom: 0;
    left: 0; 
}

.overlay__text{
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;

    background-color: rgba(33, 150, 243, 0.9); 
    transform: translateY(100%);
    transition: 250ms ease;
}


/* ⁡⁣⁢⁣𝔽𝕠𝕠𝕥𝕖𝕣⁡ */


.footer{
    background: #2F303A;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.studio-footer{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.adres{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    margin-bottom: 9px;
    margin-top: 20px;
}

.footer-email, .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    margin-bottom: 9px;

    transition: 250ms ease;
}

.footer-tel{
    margin-bottom: 9px;
}

.footer-tel:hover, .footer-email:hover{
    color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer > .container{
    display: flex;
    align-items: center;
}

.fot{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

/* ⁡⁣⁢⁣𝔽𝕠𝕠𝕥𝕖𝕣⁡ ⁡⁣⁢⁢𝘀𝗼𝗰𝗶𝗮𝗹 𝗻𝗲𝘁𝘄𝗼𝗿𝗸𝘀⁡ */


.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item:not(:last-child){
    margin-right: 10px;
}

.social-icon{
    fill: #AFB1B8;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: #ffffff;
    border-radius: 50%;

    transition: 250ms ease;
}

.social-link:hover{
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus{
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    text-align: center;
    color: #FFFFFF;    
    right: 40px;
}
 
.footer-social-link{
     background-color: rgba(255, 255, 255, 0.1);
}
 
.footer-social-icon{
     fill: #FFFFFF;
}

/* ⁡⁣⁢⁣𝗙𝗼𝗼𝘁𝗲𝗿⁡ підписка */

.subscribe-newsletter{
    margin-left: 54px;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #2196F3;
    border-color: transparent;
    border-radius: 4px;
    width: 200px;
    height: 50px;  
    cursor: pointer;

    transition: 250ms ease;
}

.btn-submit:hover, .btn-submit:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}

.submit-icon{ 
    margin-left: 10px;
}

.email-footer-subscribe{
    position: static;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color:transparent;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    margin-right: 12px;
}

.email-footer-subscribe:focus{
    outline: none;
}
